/* 기본 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* 리스트 스타일 제거 */
  ul, ol {
    list-style: none;
  }
  
  /* 링크 기본 스타일 제거 */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* 이미지 기본 스타일 제거 */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
  /* HTML 기본 폰트와 배경 설정 */
  /* spoqasans 기본 폰트 사용 */
html {
    font-size: 16px; /* 기본 폰트 크기 */
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; /* 기본 폰트 */
    line-height: 1.6;
  }
  
  body {
    background-color: #f9f9f9; /* 배경색 */
    color: #222; /* 기본 글자색 */
  }
  



  /* 유틸리티 정리 
  자주 쓰이는 스타일 정리 */

  /* 숨김 처리 */
.hidden {
    display: none !important;
  }
  
  /* 가운데 정렬 */
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 여백 조정 */
  .mt-1 { margin-top: 1rem; }
  .mb-1 { margin-bottom: 1rem; }
  .ml-1 { margin-left: 1rem; }
  .mr-1 { margin-right: 1rem; }
  .p-1 { padding: 1rem; }
  


  /* 색상 값 정리 
   */

   :root {
  --primary-color: #007bff; /* 주요 색상 */
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #343a40;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
